@using System.Security.Cryptography
@using Microsoft.AspNetCore.Antiforgery
@using My4Notes.Entities

<div id="noteContainer-@Note.Id" class="container p-3 my-3" style="max-width: 95%; background-color: #d9d9d7; border-style: solid; border-color: #b8b8b8;">
    <form id="editform" hx-put="/notes/@Note.Id" hx-target="#noteContainer-@Note.Id" hx-swap="outerHTML">
        <input name="@Token.FormFieldName" type="hidden" value="@Token.RequestToken" />
        <input name="id" type="hidden" value="@Note.Id" />
        <div class="row align-items-center mb-3">
            <div class="col-2">
                <input id="editTitleInput" type="text" class="form-control" name="title" placeholder="Edit title" aria-label="Edit title" value="@Note.Title">
            </div>
            <div class="col-1">
                <button id="deleteButton" type="button" class="btn btn-danger"
                        hx-post="/notes/@Note.Id/delete" hx-target="body" hx-swap="outerHTML">
                    Delete note
                </button>
            </div>
            <div class="col-6 text-center">
                @Note.formatCreationDate(@Note)
            </div>
            <div class="col-1">
                
            </div>
            <div class="col-1">
                <input id="saveButton" type="submit" class="btn btn-light" value="Save">
            </div>
            <div class="col-1">
                <button class="btn btn-light" hx-get="/notes/@Note.Id/hide" hx-target="#noteContainer-@Note.Id" hx-swap="outerHTML">Cancel edit</button>
            </div>
        </div>
    </form>
    <div class="row align-items-center">
        <div class="col">
            <textarea id="editTextInput" class="form-control" name="text" form="editform" rows="3">@Note.Text</textarea>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public Note Note { get; set; } = new();
    [Parameter] 
    public AntiforgeryTokenSet Token { get; set; }
}